.main-wrapper {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.article-wrapper {
    display: flex;
    margin: 10px 10px 10px 10px;;
    border: 5px solid #1f721f;
    border-radius: 10px;
    background-color: #1f721f;
    box-shadow: 5px 5px 10px grey;
    color: white;
    width: 480px;

}




.thumbnail {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.article-list-title {
    color: white;
    font-size: larger;
    font-weight: 500;

}
.article-desc {
    font-size: small;
}
.full-article {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

@media only screen and (max-width: 725px) {

    .article-wrapper {
      width: 85vw;
    }
  
  }