.news-stream {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.news-wrapper {
    width: 480px;
}
img {
    max-width: 480px;
}

@media only screen and (max-width: 725px) {

    .news-wrapper {
      width: 85vw;
    }
    img {
        max-width: 85vw;
    }
  
  }