.App {
  text-align: center;
  max-width: 1440px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.header-left {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.header-left img {
  height: 45px;
}

.header-right {
  display: inline-flex;
  align-items: center;
}

.header-link {
  padding: 10px;
}