.App {
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e8eced;
  box-shadow: 5px 5px 10px grey;
}



.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #fbbf20;
  /* color: #2e4720 */

  
}
.header-left {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
}

.header-left img {
  height: 45px;
}

.header-right {
  display: inline-flex;
  align-items: center;
}

.header-link {
  padding: 10px;
}